<h1 align="center">Bikes</h1>

 <main class="container-fluid">
    <section class="row">
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="https://cdn.autoportal.com/bp-v3/img/models/4c/8/s-engine.jpg"
                        class="responsive-img">
                    <span class="card-title"><b>Royal Enfield</b></span>
                </div>

                <div class="card-action">
                    <a href="#">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="https://bd.gaadicdn.com/processedimages/yamaha/fz-250/source/fz-2505eb4ebbb7c071.jpg?tr=w-360"
                        class="responsive-img">
                    <span class="card-title"><b>Yamaha FZ5</b></span>
                </div>

                <div class="card-action">
                    <a href="#">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="https://bd.gaadicdn.com/processedimages/tvs/tvs-apache/source/tvs-apache5e8acc01abebb.jpg"
                        class="responsive-img">
                    <span class="card-title"><b>TVS Apache</b></span>
                </div>
                <div class="card-action">
                    <a href="#">Buy Now</a>
                </div>
            </div>
        </div>
    </section> 