<h1 appHost align="center">Featured Products</h1>

<main class="container-fluid">
  <section class="row">
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="wrap">
          <span class="ribbon6">New</span>
        </div>
        <div class="card-image">
          <img
            src="https://i.pinimg.com/564x/d1/60/3b/d1603be1481120748b2e948bbacc82ef.jpg"
            class="responsive-img"
          />
          <span class="card-title"><b>KTM Duke</b></span>
        </div>

        <div class="card-action">
          <a href="#modal1" class="waves-effect waves-light btn modal-trigger"
            >Buy Now</a
          >
          
        </div>
      </div>
    </div>

    <div id="modal1" class="modal product_view">
      <div class="modal-content modal-dialog">
        <div class="modal-header">
          <a href="#" data-dismiss="modal"><span></span></a>
          <h5 class="modal-title">KTM Duke</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 product_img">
              <img
                src="https://i.pinimg.com/564x/d1/60/3b/d1603be1481120748b2e948bbacc82ef.jpg"
                class="img-responsive"
              />
            </div>
            <div class="col-md-6 product_content">
              <h4>Product Id: <span>51526</span></h4>

              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.Lorem
                Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
              <h3>
                <span></span> {{ 185000 | currency: "INR" }}
               
              </h3>
              <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <select class="form-control" name="select">
                    <option value="" selected="">Color</option>
                    <option value="black">Black</option>
                    <option value="white">White</option>
                    <option value="orange">Orange</option>
                    <option value="red">Red</option>
                  </select>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <select class="form-control" name="select">
                    <option value="">Capacity</option>
                    <option value="">16GB</option>
                    <option value="">32GB</option>
                    <option value="">64GB</option>
                    <option value="">128GB</option>
                  </select>
                </div>

                <div class="col-md-4 col-sm-12">
                  <select class="form-control" name="select">
                    <option value="" selected="">QTY</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                  </select>
                </div>
              </div>
              <div class="space-ten"></div>
              <div class="btn-ground">
                <button type="button" class="btn btn-primary">
                  <span></span> Add To Cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <div class="wrap">
            <span class="ribbon6">New</span>
          </div>
          <img
            src="https://stimg.cardekho.com/images/carexteriorimages/930x620/MG/Hector/7480/1580466437017/front-left-side-47.jpg"
            class="responsive-img"
          />
          <span class="card-title"><b>MG Hector</b></span>
        </div>

        <div class="card-action">
          <a href="#">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img
            src="https://cdni.autocarindia.com/Utils/ImageResizer.ashx?n=http%3A%2F%2Fcdni.autocarindia.com%2FExtraImages%2F20180411024609_harley_prices.jpg&h=578&w=872&c=0"
            class="responsive-img"
          />
          <span class="card-title"><b>Hardley Devidson</b>></span>
        </div>

        <div class="card-action">
          <a href="#">Buy Now</a>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img
            src="https://cdn.autoportal.com/bp-v3/img/models/4c/8/s-engine.jpg"
            class="responsive-img"
          />
          <span class="card-title"><b>Royal Enfield</b></span>
        </div>

        <div class="card-action">
          <a href="#">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img
            src="https://bd.gaadicdn.com/processedimages/yamaha/fz-250/source/fz-2505eb4ebbb7c071.jpg?tr=w-360"
            class="responsive-img"
          />
          <span class="card-title"><b>Yamaha FZ5</b></span>
        </div>

        <div class="card-action">
          <a href="#">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image">
          <img
            src="https://bd.gaadicdn.com/processedimages/tvs/tvs-apache/source/tvs-apache5e8acc01abebb.jpg"
            class="responsive-img"
          />
          <span class="card-title"><b>TVS Apache</b></span>
        </div>
        <div class="card-action">
          <a href="#">Buy Now</a>
        </div>
       
      </div>
    </div>
  </section>
</main>
